{% extends 'base.html' %}
{% block content %}

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ user.username }}, you're logged in as:</span>
    <br>
    <h5>{{ user.developer.name }}</h5>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">Your Projects</span>
    <br>

    <div>
     {% if developer.projects.count %}
      {% for project in developer.projects.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
               {{ project.project_name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>Not apart of any projects yet :\</h5>
    {% endif %}
    </div>
  </div>
  <div class="card-action">
    {% comment %} <a href="{% url 'profile_update' developer.id %}">Edit</a> {% endcomment %}

    <form method="post">
  {% csrf_token %}
  {{ user_form.as_p }}
  {{ developer_form.as_p }}
  <button type="submit">Save changes</button>
</form>

  </div>
</div>

<a href="{% url 'update_profile' %}">test</a>

{% endblock %}