{% extends 'base.html' %}
{% block content %}

<h1>{{ project.project_name }}</h1>

<div class="card deep-purple lighten-4">
  <div class="card-content">
    <span class="card-title">Title: {{ project.project_name }} </span>
    <br>
    <p>{{ developer.description }}</p>
    <br>
    <span class="card-title">Project Overview: {{ project.project_overview }}</span>
    <br>
  <div class="card-action">
        <a href="{% url 'projects_update' project.id %}">Edit</a>
        <a href="{% url 'projects_delete' project.id %}">Delete</a>
  </div>
  </div>
  </div>
</div>

{% endblock %}