{% extends 'base.html' %}
{% block content %}


<h1> List of Projects: </h1>
 {% if not_assigned.count != 0 %}
 {% for project in not_assigned %}
        <div class="card deep-purple lighten-3">
          <div class="card-content">
            <span class="card-title">
               {{ project.project_name }}
               <form action="{% url 'assoc_project' developer.id project.id  %}" method="post">
                {% csrf_token %}
                  <button type="submit" class="btn">Add</button>
                </form>
            </span>
          </div>
        </div>
      {% endfor %}
   {% else %}
   <h5>Working on all projects </h5>
   {% endif %}

{% endblock %}