{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col s6">
    <ul class="collection with-header">
        <li class="collection-header deep-purple lighten-3"><h4>DevHub Users</h4></li>
            {% for developer in developers %}
                <a href="{% url 'detail' developer.id %}">
                <li class="collection-item avatar deep-purple lighten-4">
                <i class="material-icons circle">face</i>
                <span class="title">{{ developer.name }}</span>
                <p>{{ developer.description }}</p>
                   {% if developer.projects.count %}
                    {% for project in developer.projects.all %}
                        <p>Currently working on: {{ project.project_name }}</p>
                    {% endfor %}
                   {% endif %}
                <i class="secondary-content material-icons">navigate_next</i>
                </a>
            {% endfor %}
        </li>
    </ul>
  </div>
</div>

{% endblock %}