{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col s6">
    <ul class="collection with-header">
        <li class="collection-header"><h4>DevHub Users</h4></li>
            {% for developer in developers %}
                <a href="/developers/{{ developer.id }}">
                <li class="collection-item avatar">
                <i class="material-icons circle">face</i>
                <span class="title">{{ developer.name }}</span>
                <p>{{ developer.description }}<br>
                {{ developer.projects }}</p>
                <i class="material-icons">navigate_next</i>
                </a>
            {% endfor %}
        </li>
    </ul>
  </div>
</div>

{% endblock %}